<%- include('header') -%>

    <h1>About us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id beatae ipsa dolorum iure ullam necessitatibus
        voluptates vero exercitationem dolores natus corrupti velit tenetur ex aliquid reiciendis ut, quos sapiente
        repellat!</p>

    <%- include('header') -%>